#box{
    width: 150px;
    height: 170px;
    background-color: darkgrey;
    margin-left: 100px;
    transition: margin-left 5s linear 0s,
    background-color 4s linear 0s,
    margin-top 8s linear 0s;
}
#box:hover{
    margin-left: 600px;
    background-color: rgb(15, 177, 241);
    margin-top: 500px;
}


